:root {
  --white-text: #F9FaF8;
  --blue-background: #1F2937;
}


body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

.banner,
header {
  display: flex;
  background: var(--blue-background);
  color: var(--white-text);
}

header {
  height: 48px;
  align-items: center;
  justify-content: space-around;
}

header .left {
  font-size: 24px;
  font-weight: bolder;
}

header .right {
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner {
  padding: 48px;
  align-items: flex-start;
  justify-content: center;
  gap: 16px
}

.signup {
  flex: 0 0 auto;
  padding: 4px 25px;
  border-radius: 5px;
  background: #3882f6;
  border-style: solid;
  border-color: #3882f6;
  color: var(--white-text);
  margin: 8px 0px;
}

.banner img {
  height: 200px;
  width: 300px;
}

.banner .left {
  width: 300px;
}

.content {
  padding: 50px 12px;
}

.toprow {
  text-align: center;
  padding: 16px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
}

figure img {
  height: 150px;
  border-style: solid;
  border-color: #3882f6;
  border-radius: 5px;
}

figcaption {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  background: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  padding: 48px 24px;
  min-height: 350px;
  font-weight: 300;
}

.container .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 800;
}


.text p {
  margin: 0px;
}

.quoter {
  color: black;
  font-weight: 700;
  text-align: right;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
}

.call {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 32px 68px;
  background: #3882f6;
  border: solid 2px #3882f6;
  border-radius: 5px;
  min-width: 550px;
  flex: 1 1 auto;
}

.call>.signup {
  border: solid 2px var(--white-text)
}

h3,
.action div {
  margin: 0px;
  color: var(--white-text);
}

footer {
  color: var(--white-text);
  background: var(--blue-background);
  text-align: center;
  padding: 24px;
}
